{% extends "base.html" %}

{% block announce %}
<a href="https://www.stopkillinggames.com/" target="_blank" rel="noreferrer" style="color: white">
  <span class="twemoji">
    <img src="/img/skglogo.svg" style="padding-right: 0.5rem;"/>
  </span>
  <strong style="color:deeppink">Stop Killing Games</strong> -- Help challenge the legality of publishers destroying video games!
</a>
{% endblock %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}
